@import '../styles/variables.scss';

//
// Local Page Styles
//

h1, footer {
	position: absolute;
	bottom: 2px;
	font-weight: normal;
	font-family: $font-frank;
	font-size: 12px;
	color: white;
}

h1 {
	left: 4px;
}

footer {
	right: 4px;
}

//
// Global Reset
//

:global(*) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

:global(body) {
	font-family: $font-sans;
	height: 100vh;
	overflow: hidden;
}

:global(p) {
	margin-bottom: 1rem;
}

:global(img) {
	max-width: 100%;
}

:global(body) {
	background-color: #5193CC;
	background-image: url(../assets/yo.jpg);
	background-repeat: no-repeat;
	background-position: center;
}