$material-easing: cubic-bezier(.25,.8,.25,1);

$font-frank: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-sans: -apple-system, 'Helvetica Neue', sans-serif;
$font-times: Times;